body
        {
            font-family: Tahoma;
            font-family: "Verdana"; 
            font-size: 11px;
            color: #000;
        }
         .rate-cnt{
            list-style: none;
            padding: 0px 0px 0px 5px;

        }

        .rate-cnt li {
            background-image: url(stars-skin.png);
            height: 16px;
            width: 16px;
            display: inline-block;
        }
        .rate-cnt li:hover {
            background-position: 0px 16px;
            cursor: pointer;
        }
      
        .rate-cnt li.cheked {
            background-position: 0px 16px;
        }

        a.btn {
            position: relative;
            background: url("btn.png");
            background-position: 0px 0px;
            width: 85px;
            height: 23px;
            display: block;
            color: #000;

        }
      
        a.btn:hover{
            background-position: 0px 49px !important;
        }

        a.btn:focus{
            background-position: 0px 73px;
            outline: none;
        }

        a.btn:active{
            background-position: 0px 25px !important;

        }

        a.btn.active{
            background-position: 0px 25px;
        }

       .btn span {
           
            position: absolute;
            top: 6px;
            left: 24px;
        }
         